<div class="row">

    <div class="col-sm-4"></div>
    <div class="col-sm-4 final">
        <h1>{{user}}</h1>
        <div class="row">
            <div> <h3>Vaš rezulatat je:</h3>
                 <h1>{{score}}/10</h1>
                  
               </div>
        </div>

    </div>
    <div class="col-sm-4"></div>


</div>


<div class="row">

</div>
<div>
<form action=""></form>
</div>


<table>
    <th>ime</th>
    <th>prezime</th>
    <th>index</th>
    <th>telefon</th>
    <th>adresa</th>
    <tr>
        <td>pera</td>
        <td>peric</td>
        <td>2013/100</td>
        <td>685615651</td>
        <td>djiasdas</td>
    </tr>
</table>