<div class="row">
<h1>Dobrodosli {{user}}</h1>
</div>


<div class="row">
<form name="myForm">
    <div class="container-fluid bg-info">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3><span class="label label-warning" id="qid">{{noQuestion - 0}}</span> {{question.fields.text}}</h3>
                </div>
                <div class="modal-body">
                    <div class="col-xs-3 col-xs-offset-5">
                        <div id="loadbar" style="display: none;">
                            <div class="blockG" id="rotateG_01"></div>
                            <div class="blockG" id="rotateG_02"></div>
                            <div class="blockG" id="rotateG_03"></div>
                            <div class="blockG" id="rotateG_04"></div>
                            <div class="blockG" id="rotateG_05"></div>
                            <div class="blockG" id="rotateG_06"></div>
                            <div class="blockG" id="rotateG_07"></div>
                            <div class="blockG" id="rotateG_08"></div>
                        </div>
                    </div>

                    <div class="quiz" id="quiz" data-toggle="buttons">
                        <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                            <input type="radio" ng-value="q.valid1" name="answer" ng-click="submit()">{{q.ans1}}</label>
                        <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                            <input type="radio" ng-value="q.valid2" name="answer" ng-click="submit()">{{q.ans2}}</label>
                        <label class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                            <input type="radio" ng-value="q.valid3" name="answer" ng-click="submit()">{{q.ans3}}</label>
                        <label class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                            <input type="radio" ng-value="q.valid4" name="answer" ng-click="submit()">{{q.ans4}}</label>
                    </div>
                </div>
                <div class="modal-footer text-muted">
                    <span id="answer"></span>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
<!--<form name="myForm">
    <input type="radio" ng-value="q1.valid1" name="answer" > {{q1.ans1}}
    <input type="radio" ng-value="q1.valid2" name="answer" > {{q2.ans2}}
    <input type="radio" ng-value="q1.valid3" name="answer" > {{q3.ans3}}
    <input type="radio" ng-value="q1.valid4" name="answer" > {{q4.ans4}}
    <button ng-click="submit()">aaaaaaaaa</button>
</form>-->